<!DOCTYPE html>
<html lang="en">

    {% from 'bootstrap5/form.html' import render_form %}
    {% include 'header.html' %}
    

    <body>
        <header class="masthead d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center text-white">
                <h1 class="mb-1">Contact Me</h1>
                <h3 class="mb-5"><em>Have a question or want to work together? Send me a message!</em></h3>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h3> {{ message }} </h3>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </header>
        <div class="container p-lg-5">
            <div class="row container">
                {{ render_form(form) }}
                {{ form.csrf_token }}
            </div>

        </div>

    </body>

    {% include 'footer.html' %}

</html>