<!DOCTYPE html>
<html lang="en">

    {% include 'header.html' %}

    <body id="page-top">
        <!-- Header-->
        <header class="masthead d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center text-white">
                <h1 class="mb-1">Welcome!</h1>
                <h3 class="mb-5"><em>Thanks for stopping by</em></h3>
            </div>
        </header>
        <!-- Services-->
        <section class="content-section bg-light text-primary text-center" id="services">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0">Services</h3>
                    <h2 class="mb-5">What I Do</h2>
                </div>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" fill="currentColor" class="bi bi-robot" viewBox="0 4 16 16">
                                <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5M3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.6 26.6 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.93.93 0 0 1-.765.935c-.845.147-2.34.346-4.235.346s-3.39-.2-4.235-.346A.93.93 0 0 1 3 9.219zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a25 25 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25 25 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135"/>
                                <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2zM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5"/>
                              </svg>
                        </span>
                        <h4><strong>Arduino</strong></h4>
                        <p class="text-primary mb-0">
                            I've worked on all kinds of arduino projects from simple blink and 3 phase signal programs all the way to OLED controllers. I even
                            worked on a rover designed to compete in the 2024 University Rover Challenge!
                        </p>
                        <br>
                        <h4>Tools Used:</h4>
                        <ul>
                            <li>
                                <p class="text-primary mb-0">Arduino IDE</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0"> C/C++</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">Python</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" fill="currentColor" class="bi bi-window-fullscreen" viewBox="0 4 16 16">
                                <path d="M3 3.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m1.5 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                <path d="M.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h15a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5zM1 5V2h14v3zm0 1h14v8H1z"/>
                              </svg>
                        </span>
                        <h4><strong>Scripting and Automation</strong></h4>
                        <p class="text-primary mb-0">
                            I've made tools that can scrape websites, parse data, leverage APIs and automate tedious processes from the command line. Tools like Python have given me the power
                            to increase my poductivity and automate manual tasks.
                        </p>
                        <br>
                        <h4>Tools Used:</h4>
                        <ul>
                            <li>
                                <p class="text-primary mb-0">Bash</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">Python</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">Selenium</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">RESTful APIs</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <span class="service-icon rounded-circle mx-auto mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" fill="currentColor" class="bi bi-hdd-rack" viewBox="0 4 16 16">
                                <path d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1M3 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m2 7a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m-2.5.5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                                <path d="M2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h1v2H2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2h-1V7h1a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm13 2v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1m0 7v1a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1m-3-4v2H4V7z"/>
                              </svg>
                        </span>
                        <h4><strong>Website Backends</strong></h4>
                        <p class="text-primary mb-0">
                            I've designed several web applications using the Flask framework. I've also worked with databases like SQLite and PostgreSQL to store and retrieve data.
                            Using these tools I've been able to add things like user authentication, data storage, and dynamic content to my projects.
                        </p>
                        <br>
                        <h4>Tools Used:</h4>
                        <ul>
                            <li>
                                <p class="text-primary mb-0">Python</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">Flask</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">RESTful APIs</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <span class="service-icon rounded-circle mx-auto mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="60" fill="currentColor" class="bi bi-graph-up" viewBox="0 4 16 16">
                                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"/>
                            </svg>
                        </span>
                        <h4><strong>AI/Machine Learning</strong></h4>
                        <p class="text-primary mb-0">
                            Currently I'm learning about AI and deep learning through TensorFlow. While it's a work in progress, I intend to get my TensorFlow Developer Certificate
                            by the end of August 2024.
                        </p>
                        <br>
                        <h4>Tools Used:</h4>
                        <ul>
                            <li>
                                <p class="text-primary mb-0">Python</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">TensorFlow</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">Pandas</p>
                            </li>
                            <li>
                                <p class="text-primary mb-0">Numpy</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <section class="content-section bg-primary" id="portfolio">
            <div class="container px-4 px-lg-5 d-flex flex-column justify-content-center">
                <div class="row container">
                    <div class="content-section-heading text-center">
                        <h3 class="text-secondary mb-0">Portfolio</h3>
                        <h2 class="mb-5">Recent Projects</h2>
                    </div>
                    <div class="row gx-0">
                        <div class="col-lg-6">
                            <a class="portfolio-item" href="#!">
                                <div class="caption">
                                    <div class="caption-content">
                                        <div class="h2">Mars Rover</div>
                                        <p class="mb-0">Helped a capstone team solve their motor and wireless problems for their capstone project</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="{{ url_for('static', filename='/assets/img/Rover.jpg') }}" alt="Mars Rover" />
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a class="portfolio-item" href="#!">
                                <div class="caption">
                                    <div class="caption-content">
                                        <div class="h2">Functional Blogging Website</div>
                                        <p class="mb-0">
                                            Admittedly under guidance from a course, I created a web application that handles user authentication, data storage, and hosting
                                            dynamic content all through the Flask framework
                                        </p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="{{ url_for('static', filename='/assets/img/Login.jpg') }}" alt="..." />
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row container d-flex justify-content-center">
                    <div class="container d-flex justify-content-center">
                        <a class="btn btn-dark btn-xl" href="{{ url_for('projects_page') }}">My Portfolio</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>About Me</h2>
                        <p class="lead mb-5">
                            As far as I go, I'm working on becoming a software developer. I've learned many skills in Python, C/C++, and web development. I also like to dabble in 
                            AI and cyber security. When it comes to computers, I'm always curious to know more.
                        </p>
                        <a class="btn btn-dark btn-xl" href="{{ url_for('about_page') }}">A bit deeper</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->

        {% include 'footer.html' %}

    </body>
</html>
